.hero-tagline {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	margin: 0 auto;
	font-size: 1rem;
	color: var(--color-gray-light);
}

@media (--bp-medium) {

	.hero-tagline {
		font-size: 1.125rem;
	}
}
@media (--bp-large) {

	.hero-tagline {
		font-size: 1.25rem;
	}
}
