/* stylelint-disable declaration-no-important, rule-empty-line-before, at-rule-empty-line-before, comment-empty-line-before, no-eol-whitespace, selector-max-specificity */
.submit-button {
	display: block;
	padding: .6875rem 1.5rem;
	border: none;
	background-color: var(--color-yellow);
	font-size: 1rem;
	font-weight: bold;
	color: var(--color-gray-dark);
	text-align: center;
	text-transform: uppercase;
	line-height: 1.25;
	cursor: pointer;
}

.gfield_repeater_buttons button {
	display: inline-block !important;
	min-width: auto !important;
	height: auto !important;
	padding: .6875rem 1.5rem !important;
	border: none !important;
	border-radius: 0 !important;
	background-color: var(--color-yellow) !important;
	font-size: 1rem !important;
	font-weight: bold !important;
	color: var(--color-gray-dark) !important;
	text-align: center !important;
	text-transform: uppercase !important;
	line-height: 1.25 !important;
	cursor: pointer !important;
}

.submit-button:hover,
.submit-button:focus {
	background-color: var(--color-yellow-dark);
}

.gfield_repeater_buttons button:hover,
.gfield_repeater_buttons button:focus {
	background-color: var(--color-yellow-dark) !important;
}

.submit-button:focus {
	outline: .125rem solid var(--color-blue);
}

.gfield_repeater_buttons button:focus {
	outline: .125rem solid var(--color-blue) !important;
}
/* stylelint-enable declaration-no-important, rule-empty-line-before, at-rule-empty-line-before, comment-empty-line-before, no-eol-whitespace, selector-max-specificity */
