p {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	margin-bottom: var(--gutter-base);
}

p:nth-last-of-type(1) {
	margin-bottom: 0;
}

/* stylelint-disable no-eol-whitespace, at-rule-empty-line-before, comment-empty-line-before, rule-empty-line-before */
@media (--bp-medium) {
	
	p {
		margin-bottom: var(--gutter-medium);
	}

	p:nth-last-of-type(1) {
		margin-bottom: 0;
	}
}

@media (--bp-large) {

	p {
		margin-bottom: var(--gutter-large);
	}

	p:nth-last-of-type(1) {
		margin-bottom: 0;
	}
}
/* stylelint-enable no-eol-whitespace, at-rule-empty-line-before, comment-empty-line-before, rule-empty-line-before */
