.nav-item {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	border-bottom: .0625rem solid var(--color-gray-medium);
	list-style-type: none;
}

@media (--bp-large) {

	.nav-item {
		margin-right: 1rem;
		border-bottom: none;
	}

	.nav-item:nth-last-of-type(1) {
		margin-right: 0;
	}
}
